.tasks {
    grid-area: task;
    position: relative;
    background-color: var(--secondaryBgColor);
    width: 95%;
    margin: 0 auto 2.5rem;
    padding: 0 2.5rem 2.5rem;
    border-radius: 1.625rem;

    @media (max-width: 37.5rem) {
        padding: 0 .5rem .5rem
    }
}

.tasks__list {
    display: flex;
    flex-direction: column;
    margin: 1.1rem 0;
    border-bottom: 2px dashed #c9d2ff;
}

.tasks__item {
    background-color: var(--tertiaryBgColor);
    padding: 1.125rem;
    border-radius: 2.8125rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 13px 1px;
    margin:1.1rem 0px;
    position: relative;
}

.tasks__item p,
.tasks__item input {
    flex-grow: 1;
}

.tasks__item input {
    border-radius: 2.8125rem;
    border: 1px solid rgba(0, 0, 0, 0.155);
    padding: .625rem;
    width: 100%;
}

.tasks__item select {
    border-radius: 2.8125rem;
    border: 1px solid rgba(0, 0, 0, 0.155);
    padding: .625rem;
}

.tasks-length {
    font-size: .9rem;
    display: inline-block;
    background-color: var(--tertiaryBgColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.155); 
    align-content: center;
    text-align: center;
}

.task__category {
    display: block;
    font-size: .75rem;
    font-style: italic;
    font-weight: bold;
    padding-left: 1rem;
    width: fit-content;
}

.btn-container {
    display: flex;
    gap: .3125rem;
}
.tasks button {
    border-radius: 50%;
    padding: 10px 14.5px;
    transition: .2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1)
    }
}

.tasks i {
    color: var(--secondaryTextColor);
}

.add-btn,
.update-btn,
.update-open-btn,
.incomplete-btn {
    background-color: #56b8ff;
    border: 1px solid rgba(96, 94, 94, 0.256);
}

.complete-btn {
    background-color: #3dd9b3;
    border: 1px solid rgba(96, 94, 94, 0.256);
}

.delete-btn {
    background-color: #ff7474;
    border: 1px solid rgba(96, 94, 94, 0.256);
}

.form__item {
    background-color: var(--tertiaryBgColor);
    padding: 1.125rem;
    border-radius: 2.8125rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 13px 1px;
    margin:1.1rem 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: -1.125rem;
    left: 0;
};

