.validation {
    color: var(--secondaryTextColor);
    position: absolute;
    top: 0%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 2.8125rem;
    border: 1px solid rgba(0, 0, 0, 0.155);
    animation: fade 3.5s ease 1;
    scale: 0;   
    z-index: 5;
}

@keyframes fade {
    0% {
        scale: 0;
    }
    10% {
        scale: 1;
    }
    90% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}