<section class="tasks">
    <h2>Tasks <span data-status="incomplete" class="tasks-length"></span></h2>
    <div class="form-container">
        <form id="create-form" method="post">
            <div class="tasks__item wrapper">
                <input type="text" placeholder="Enter new task here">
                <select name="categories" id="post-category-select">
                    <option value="">Select a category</option>
                </select>
                <button type="submit" class="add-btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
    <ul id="tasks" class="tasks__list"></ul>

    <h2>Completed Tasks <span data-status="complete" class="tasks-length"></span></h2>
    <ul id="tasks-completed"></ul>
</section>
