<section class="form-wrapper">
    <h1>Register</h1>
        <form class="form" method="post" action="register">
            <% inputs?.forEach(input=> { %>
            <%- include('../partials/form-input.ejs', input) %>
                <% }); %>
            <div class="form__cta">
                <input class="form__submit" type="submit" value="Register">
                <a class="form__link" href="/login" target="_self">Login page</a>
            </div>
        </form>
</section>