<section class="categories">
    <h2>Categories</h2>
    <ul id="categories" class="categories__list">
    </ul>
    <ul class="categories__list">
        <li data-btnType="create-cat-open" class="categories__add wrapper wrapper--primary">
            <button>
                New category
            </button>
            <button >
                <i class="fa-solid fa-plus"></i>
            </button>
        </li>
        <li data-containerType="create-container"></li>
    </ul>
</section>